* {
  box-sizing: border-box;
}

.App {
  display:grid; 
  opacity: 1;
  transition: all 0.9s ease;
  @starting-style{
    opacity: 0;
    traslate: 0 -90px;
  }
}



.App-logo {
    margin: auto 5px;
    float:left;
    width: 160px;
    height: 38px;

}



.App-navigation {
  background-color: #EDEFEE;
  min-height: 3vh;
  font-size: ca lc(10px + 17vmin);
  color: rgb(80, 59, 59);
  text-indent: 45%;
  height:fit-content
}

 nav li {
  list-style: none;
  margin: 20px;
  padding: 11px;
  display: inline;
}

li a{
  text-decoration:none;
  color:black
}

article{
 min-height: 350px;

}

.Greeting-card{
  h1{
    margin: 30px 500px;
  }
  h4{
    margin: -20px 500px;
  }
  p{
    margin: 50px 500px;
  }

}
 .Chefs{
   border-radius: 16%;
   margin-right: 500px;
   margin: 30px 400px;
   float: right;
   height:320px;
   width:400px;
   opacity: 1;
  transition: all 0.9s ease;
  @starting-style{
    opacity: 0;
    traslate: 0 -90px;
  }
 }

.Specials-menu{
  h2{
   margin: 30px 500px ;
  }

}

.Testimonials{
 h2{
  text-align: center;
 }

}

.About-section{
 

}

.App-footer{
  height: 200px;

    
}

@media only screen and(min-width: 350px) {

}