.App {
  /*text-align: center;*/
  display:grid;
}

.App-logo {
  height: 7vmin;
  /*pointer-events: none;*/
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-navigation {
  background-color: #f7f8fa;
  min-height: 6vh;
  display:grid;
  justify-content: space-evenly;
  font-size: ca lc(10px + 1vmin);
  color: rgb(112, 86, 86);

}

.App-container{
  display: grid;

}

 nav li {
  list-style: none;
  margin: 20px;
  padding: 11px;
  display: inline;

}

li a{
  text-decoration:none;
  color:black
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
