
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.App {
  display:grid;
  position:absolute;

  opacity: 1;
  transition: all 0.9s ease;
  @starting-style{
    opacity: 0;
    traslate: 0 -90px;
  }

  h1,h2,h3{
   font-family: "Markazi Text", serif;
  }
  p{
    font-family:"Karla", sans-serif ;
    line-height: 1.5;
  }
}

.App-logo {
    margin: auto 10px;
    float: left;
    height: 48px;
    max-width:760px;
}

.popup-content{

  border-radius: 16px;
  max-width: 350px;
  h2{
    text-align: center;
  }
 transition: opacity .5s ease-out, scale .5s ease-out;
  @starting-style {
    opacity: 0;
    scale: 1.1;
  }
}
.input-sec{
 display: flex;
}
.popup-overlay{
 transition: opacity .5s ease-in, scale .5s ease-in;
  @starting-style {
    opacity: 0;
    scale: 1.1;
  }
}






