
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.App {
  display:grid;
  position:absolute;

  opacity: 1;
  transition: all 0.9s ease;
  @starting-style{
    opacity: 0;
    traslate: 0 -90px;
  }

  h1,h2,h3{
   font-family: "Markazi Text", serif;
  }
  p{
    font-family:"Karla", sans-serif ;
    line-height: 1.5;
  }
}

.App-logo {
    margin: auto 10px;
    float: left;
   
    height: 48px;
    max-width:760px;
}

.App-navigation {
  background-color: #EDEFEE;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 6vh;
  box-shadow: 29px 7px 5px;
  color: rgb(80, 59, 59);
  text-indent: 430px

}

 nav li {
  list-style: none;
  margin: 20px;
  padding: 21px;
  display: inline;
}

li a{
  text-decoration:none;
  color:black
}

nav a:hover{
   opacity:0.9;
   color: #f4ce14;
}

.popup-content{
   
  border-radius: 16px;
  max-width: 350px;
  h2{
    text-align: center;
  }
 transition: opacity .5s ease-out, scale .5s ease-out;
  @starting-style {
    opacity: 0;
    scale: 1.1;
  }
}
.input-sec{
 display: flex;
}
.popup-overlay{
 transition: opacity .5s ease-in, scale .5s ease-in;
  @starting-style {
    opacity: 0;
    scale: 1.1;
  }
}




.Greeting-card{
 height:290px ;
 background-image: url('images/Backgrounds/Chicago1.jpg');
 background-repeat: no-repeat;
 background-size: fit-content;
}

.Greeting-content{
 width: fit-content;
   h1{
    font-size: 45px;
    font-family: "Markazi Text", serif;
    margin: 10px 500px;
    width:280px;
  }
  h4{
    margin: 10px 500px;

  }
  p{
    font-family: "Karla", sans-serif;
    margin: 50px 500px;
  }
}
 .Lemon{
    margin: 125px 130px;
    float: right;
    height:530px;
    width:700px;
    opacity: 1;
    transition: all 0.9s ease;
  }

.Title{
  background-color: #495E57;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  h1,h2{
    color:bisque;
    margin-top: 0;
    margin-bottom:14px;
  }
}


.Specials-menu{
 
 
  background-color: #EDEFEE;
 .Highlight1{
  display: flex;
  align-items: center;
  flex: 1 1 -55%;
  margin: 20px 197px
}
article img{
  width: 450px ;
  height: 300px;
  border-radius: 16px;
  border-radius: 16px;

}
.Highlight2{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 20px 197px
}
p{
   width: 300px;
    top: -290px;
    left: 410px;
 }
 .Highlight3{
   display: flex;
   align-items: center;
   width:1100px;
   margin: 20px 197px
 }
 .img-left{
  flex: 13%;
  padding: 36px;
 }
 .img-right{
  flex: 45%;
  padding: 36px;
 }
 .content{
  flex: 1 1 45%;
 }
 .content-reverse {
  flex: 1 1 84%;
  direction:rtl;

 }

 content:after{
  content: "";
  display: table;
  clear: both;
 }
 h1, h2{
  text-align: center;
 }
 h3{
  font-size: 29px;
  width: 160px;
 }
}

.Buffer{

 text-align: center;
}



.Menu{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

/* Optional: set max-widths if the columns are too wide */
.Appetizers, .Main-Courses {
  flex: 1;
  min-width: 300px;
  h1{
    text-align: center;
  }
}


.item{
  display: flex;
  align-items: center;
  width: 90%; /* two columns; adjust as needed */
  margin-bottom: 16px;
}

.Menu-img{
   width: 264px; /* or whatever size */
  height: 164px;
  margin-right: 17px;
  border-radius: 16px;
}

.Menu-bottom{
   display: flex;
  flex-wrap: wrap;
  
  padding: 30px;
}

.Wine, .Dessert{
  flex: 1;
  align-items: left;
  min-width: 300px;
}

.wine-img,.dessert-img{
   width: 264px; /* or whatever size */
  height: 164px;
  margin-right: 17px;
  border-radius: 16px;
}

.wine-title, .dessert-title{
text-align: center;
}


.Testimonials{

 h2{
  text-align: center;
  width: 200px;
 }

 .flex-container {
  display: flex;
 
}
.flex-child {
  flex: 1;
  width: 360px;
  background-color: #cacccb;
  border-radius: 16px;
}
.flex-child {
  margin-right: 20px;
}
.pic{
  height: 140px;
  width: 140px;
  padding: 14px;
  border-radius: 19px;
}
.review{
  height:40px;
  width:40px;
  margin:6px
}


}

#About-section{
 h1{
  font-size:100px;
  max-width: 310px;
 }

 p{
  max-width: 600px;
 }
 
}

.about-content{
 width: fit-content;

}

.slideshow {
  position: relative;
  width: 430px; /* set your width */
  height: 300px; /* set your height */
  overflow: hidden;
  left: 1100px;
  top: -300px;
  border-radius: 16px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  animation: fade 9s infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 3s;
}
.slide:nth-child(3) {
  animation-delay: 6s;
}

@keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}















.App-footer{
  background-color: #495E57
  
}

